.DS_Store
ADGCoreDataKit/ADGCoreDataKit.xcworkspace/xcuserdata/
ADGCoreDataKit/ADGCoreDataKit.xcodeproj/xcuserdata/
ADGCoreDataKit/ADGCoreDataKit.xcodeproj/project.xcworkspace/xcuserdata/
ADGCoreDataKit.xcworkspace/xcuserdata/

